.admin-page {
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .resource-list, .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the items horizontally */
    gap: 20px; /* Adds space between the items */
  }
  
  .resource-item, .user-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px; /* Adjust width as needed */
    text-align: center;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .resource-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: hsl(182, 25%, 40%);
  }
  